/* Your CSS Code here. */
.moviePic {
	height: 650px;
	width: 650px;
	opacity: 80;
}

.movieDetail {
	position: absolute;
	top: 50px;
	color: white;
	width: 600px;
	text-align: center;
	font-size: 24px;
}